<header>
    <h1 class="header-title">Livros Cadastrados</h1>
</header>

<main>
    <button type="button" class="button blue mobile" id="adicionarLivro">Adicionar livro</button>
    {{#if books}}
        <table class="records">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Nº de Páginas</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.author}}</td>
                        <td>{{this.pages}}</td>
                        <td>
                            <button type="button" class="button green edit" onclick="editBook('{{this.id}}','{{this.title}}','{{this.author}}','{{this.pages}}')">editar</button>
                            <button type="button" class="button red delete" onclick="removeBook('{{this.id}}')">excluir</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="nothing-to-show">
            <span>Nenhum livro cadastrado ainda. Adicione um livro.</span>
        </div>
    {{/if}}

    <div class="modal modal-add-update" id="modal-add-update">
        <div class="modal-content">
            <header class="modal-header">
                <h2>Adicionar Livro</h2>
                <span class="modal-close" id="modalClose">&#10006</span>
            </header>

            <form action="" method="post" class="modal-form add-update-form">
                <input type="text" name="id" class="modal-field id" style="display: none;">
                <input type="text" name="title" class="modal-field title" placeholder="Título do livro" required>
                <input type="text" name="author" class="modal-field author" placeholder="Nome do Autor" required>
                <input type="number" name="pages" class="modal-field pages" placeholder="nº de páginas" required min="1">

            <footer class="modal-footer">
                <button type="submit" class="button green save">Salvar</button>
                <button type="reset" class="button blue cancel">Cancelar</button>
            </footer>
            </form>
        </div>
    </div>
    <div class="modal modal-delete" id="modal-remove">
        <div class="modal-content">
            <header class="modal-header">
                <h2>Remover Livro</h2>
                <span class="modal-close" id="modal-close">&#10006</span>
            </header>

            <form action="/remove-book" method="post" class="modal-form delete">
                <input type="text" name="id" id="book-id" style="display: none;">
                
                <div class="tag-inputs">
                    <h3 class="shelf-tag">Tem certeza que quer remover este livro?</h3>
                </div>

            <footer class="modal-footer">
                <button type="submit" class="button green">Remover</button>
                <button type="reset" class="button blue cancel-remove">Cancelar</button>
            </footer>
            </form>
        </div>
    </div>
</main>

<footer>
    Equipe: Talita Alves, Leilanny Nascimento e Jonas Freire<br>
    Profª Elizângela Rebouças
</footer>
